
/* Limit content width and add optional margin color on wide screens */

body {
	font-family: sans-serif;
	background-color: white;
	color: black;
	margin: 0px auto;
	padding: 1em;
	width: 44em;
	max-width: 100%;
	box-sizing: border-box;
	overflow-wrap: anywhere;
}

body.expandable {
	/* Avoid jumps of content on debug info open due to appearance of scrollbar.
	 * Reserve 1em for scrollbar, so effective right padding with scrollbar is 0.5em,
	 * and the same padding without scrollbar is 0.5em.
	 * On narrow screen there is no room for html margin, so use body padding. */
	padding-inline-end: calc(1.5em + 100% - 100vw);
	/* Redundant due to max-width and the following media query. */
	width: 44.5em;
}

@media all and (min-width: 44.5em) {
	/* Fix base body width, so transfer scrollbar width
	 * from body padding to html margin.
	 * There is still no space for regular body padding.
	 * Body margins (auto) start growing. */
	html.expandable {
		margin-inline-start: 1em;
		margin-inline-end: calc(1.5em + 100% - 100vw);
	}
	body.expandable {
		padding-inline: 0px;
		width: 42em;
	}

	/* Indent for collapsible details sections */
	details.section > summary {
		margin-inline-start: 0ex;
	}

	details.section > *, .leftMargin {
		margin-inline-start: 2ex;
	}

	/* Content inside body.expandable that should not occupy whole width
	 * on wide screens. */
	.limitedWidth {
		width: 42em;
		margin-inline: auto;
	}
}

@media all and (min-width: 46.5em) {
	/* Wide enough screen to have color margins, set fixed body padding,
	 * and to allow debug info consume available width.
	 * Minimal color margin width determined by html element
	 * and depends on scrollbar presence. They could be wider
	 * due to body.margin auto. */
	html {
		background-color: lightblue;
	}
	body.expandable {
		padding-inline: 1em;
		width: 44em;
		/* Wide margins on wide screen when debug info is closed */
		width: max-content;
	}
}

/* Do not add vertical margins on low resolution laptop screens
 * and on smartphones. */
@media all and (min-height: 800px) {
	html {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

/* Make focused element clearly distinguishable.
 * Firefox does not draw outline on preview page at all,
 * Chromium adds thick enough black solid line. */
:focus {
	outline: none;
	box-shadow: 0px 0px 2pt 2pt deepskyblue;
}

/* Emphasize whether user or default value is active by thick underline. */
div.userValue div.userInputContainer, div.defaultValue div.defaultInputContainer {
	box-shadow: 0px 5px 0px 0px steelblue;
}

div.userInputContainer, div.defaultInputContainer {
	/* Reserve space for shadow cast by active value. */
	padding-bottom: 2px;
	margin-bottom: 7px;
}

div.defaultValue .userInput {
	opacity: 0.6;
}

/* Force reset of style of input form elements.
 * Adjusting some property, e.g. background color
 * could reset other values from desktop environment defaults
 * to browser default style.
 * Chrome defaults are too heavy and black at least on linux.
 */
textarea, input:not([type]), input[type="text"] {
	border-color: lightsteelblue;
}

textarea, input:not([type]), input[type="text"], button {
	border-style: solid;
	border-width: thin;
	border-radius: 2pt;
}

textarea:read-only, input:not([type]):read-only, input[type="text"]:read-only {
	border-style: solid;
	background-color: gainsboro;
	border-color: gray;
}

button {
	padding: 1ex;
	margin: 0.75ex;
	border-color: darkgray;
}

/* Group of form fields that occupy single or two lines */
.flexLineContainer {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	align-items: baseline;
}

.flexLineContainer > * {
	flex-grow: 1;
}

.flexLineContainer > .flexFixed {
	flex-grow: 0;
}

/* Gaps between columns of form fields */
.flexLineContainer {
	margin-inline: -0.25ex;
}

.flexLineContainer > * {
	margin-inline: 0.25ex;
}

/* Align checkbox to the left content edge in two-line layout */
input[type="checkbox"] {
	margin-left: 0px;
}

button {
	margin-inline-start: 0px;
	margin-inline-end: 1.5ex;
}

input[type="file"] {
	padding-left: 0px;
}

/* Align right textarea to right edge of content */
textarea {
	width: 100%;
	box-sizing: border-box;
}

button {
	min-width: 18ex;
}

/* Attempt to avoid grid layout with media queries.
 * Ensure that input labels have the same size on the preview page. */
div.fixed {
	min-width: 5ex;
}

/* Set minimum width but allow to shrink in narrow window. */
input.long {
	width: 25em;
}


h1 {
	font-size: 1.5em;
}

* > h1:first-child {
	/* Remove space at the top of the page */
	margin-top: 0px;
}

.error {
	background-color: #ffa0a0;
}
pre {
	white-space: pre-wrap;
}
.success {
	background-color: #a0ffa0;
}

li {
	margin-top: 0.5ex;
	margin-bottom: 0.5ex;
	padding: 0.5ex;
}

ul {
	list-style: none;
	padding-left: 0px;
}

input, textarea {
	padding-top: 0.25ex;
	padding-bottom: 0.25ex;
	padding-inline: 0.5ex;
	margin-top: 0.75ex;
	margin-bottom: 0.75ex;
}

details {
	margin-top: 1ex;
}

details.section[open] > summary, details[open] > summary .wrappedSection {
	font-size: larger;
	font-weight: bold;
}

div.p {
	margin-top: 1ex;
	margin-bottom: 1ex;
}
